<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <h1>Recipes 2</h1>

    <hr>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Iste repudiandae perferendis quidem ipsam voluptas laudantium 
        repellat est quas nesciunt fugit, libero, laborum facilis totam 
        tenetur sit non? Et, dolorem illum.
    </p>
</body>
</html>

<!--Foi criado a pasta templates e o arquivo home.html que está sendo
referenciado em .views e está sendo renderizando por render em uma função -->