
{% include "recipes/partials/head.html" %}

<body>
    
    {% include "recipes/partials/header.html" %}

    <div class="search-container">
        <div class="container">

            <form action="" class="search-form">
                <input type="search" class="search-input" name="search">
                <button type="submit" class="search-button"> <i class="fas fa-search"></i></button>
            </form>

        </div>

    </div>

</body>

</html>

<!--Foi criado a pasta templates e o arquivo home.html que está sendo
referenciado em .views e está sendo renderizando por render em uma função -->

<!-- o include é um tag django que adiciona partes ao codigo html, no caso 
 o head do html..-->